body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contenido {
    margin-left: 20%;
    margin-right: 20%;
}

header {
    min-width: 396px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px
}

nav {
    min-width: 396px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main {
    min-width: 396px;
}

.home {
    font-size: 26px;
    display: flex;
    flex-direction: column;
}

.home > p:first-child {
    align-self: center;
    margin-left: 30px;
    margin-right: 15px;
}

.home > p:nth-child(3){
    align-self: center;
}

.home > p:last-child {
    align-self: center;
    margin-left: 30px;
    margin-right: 15px;
}

.home > img {
    align-self: center;
}

button {
    font-size: 16px;
    background-color: #A29D9C;
    width: 100px;
    height: 40px;
}

.menu {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plato {
    margin-left: 15%;
    margin-bottom: 15px;
}

.about {
    font-size: 26px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.about > img {
    width: min(80%);
}

.about > p {
    margin-left: 5%;
    margin-right: 5%;
}

button:hover {
    box-shadow: 6px 6px 2px 0px rgba(157,148,156,0.82);
}

.activado {
    background-color: #ccc;
    --mask:
    radial-gradient(10.57px at 14.70px 50%,#000 99%,#0000 101%) 0 calc(50% - 12px)/51% 24px repeat-y,
    radial-gradient(10.57px at -8.7px 50%,#0000 99%,#000 101%) 6px 50%/calc(51% - 6px) 24px repeat-y,
		radial-gradient(10.57px at calc(100% - 14.70px) 50%,#000 99%,#0000 101%) 100% 50%/51% 24px repeat-y,
    radial-gradient(10.57px at calc(100% + 8.70px) 50%,#0000 99%,#000 101%) calc(100% - 6px) calc(50% - 12px)/calc(51% - 6px) 24px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

footer {
    margin-top: 30px;
    font-size: 22px;
    min-width: 396px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #e2d1df;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a > img {
    margin-left: 8px;
}